# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Unity3D project history
/[Uu]nity[cC]ache/
/[Bb]ackup[sS]cene[sS]/
/[Uu]nityGenerated/
/[Tt]emp/
/[Oo]bj/

# Visual Studio code and cache
.vs/
/*.userprefs/
/*.csproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.unityproj
/*.booproj
/*/BuildLog.*

# Rider IDE
.idea/
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/.idea.*
/Assets/Plugins/Editor/JetBrains*

# Other user-specific files
[Dd]esktop.ini
*.pidb.meta

# Ignore DLL, PDB, and DYLIB files
*.dll
*.pdb
*.dylib

